<div class="header">

    <a id="logotype" href="#info">
        <h1>Ateliér <br> Grafického <br> Designu 2</h1>
    </a>
    <div class="head-social">
        <div>
            <a id="gif" href="https://www.facebook.com/AGD2FaVU" target="_blank">facebook</a>
        </div>
        <div>
            <a id="gif" href="https://www.instagram.com/agd2brno/" target="_blank">instagram</a>
        </div>
        <div>
            <a id="gif" href="english_odkaz">english</a>
        </div>
    </div>



</div>


<!-- modal start -->



<div class="modal" id="info">
    <div class="modal-container">
        <p>Dorobime pozdějc kemo, zdar</p>
        <a href="#">close</a>
        <img src="https://g.denik.cz/57/99/romove_1_denik-600.jpg">
    </div>



</div>










<!-- modal koniec -->