<!-- SLIDER CONTAINER -->
<div class="slider-container">
  <!-- SLIDER TITLE -->
  <div class="slider-title">{{title}}</div>
  <!-- SLIDER -->
  <div #slider>
    <ng-container *ngFor="let image of images">
      <div appAppear class="image-container inactive" (appear)="onScreen($event, image)" ></div>
    </ng-container>
  </div>
  <!-- SLIDER CONTROLS -->
  <div class="slider-controls">
    <button class="prev" (click)="prevImage()">PREVIOUS</button>
    <button class="next" (click)="nextImage()">NEXT</button>
  </div> <!-- END SLIDER CONTROLS -->
</div> <!-- END SLIDER CONTAINER -->
