<!-- SLIDER CONTAINER -->

<div class="slider-container" [id]="'slider-' + getIdFromName(title)">





  
  <!-- SLIDER -->
    <div #slider class="slides">

      <!-- SLIDER TITLE -->
         <div class="slider-title">{{title}}</div>

      <!-- SLIDER CONTROLS -->
        <div class="slider-controls">
          <button class="prev" (click)="prevImage()"></button>
          <button class="next" (click)="nextImage()"></button>
        </div> 
      <!-- END SLIDER CONTROLS -->


    <ng-container *ngFor="let image of images; let i = index">


      <!-- VISIBLE FIRST SLIDE -->
      <ng-container *ngIf="i === 0; else hidden">
        <div appAppear [id]="'slide-'+i" class="slide image-container inactive visible" (appear)="onScreen($event, image)" >
            
          <span class="loader">Loading...</span>

        </div>
      </ng-container>

      <!-- HIDDEN SLIDES -->
      <ng-template #hidden>
          <div appAppear [id]="'slide-'+i" class="slide image-container inactive hidden" (appear)="onScreen($event, image)" >
            <span class="loader">Loading...</span>
          </div>

      </ng-template>
    </ng-container>
  </div>
 

</div> <!-- END SLIDER CONTAINER -->
