/* RESET STYLE */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/* filter: blur(10px); */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* You can add global styles to this file, and also import other style files */

app-head {
	display: block;
}

button:focus {
	outline: 0;
}

* {
	box-sizing: border-box;
}


/* ------------------- PISMO ZACATEK------------------- */
@font-face {
	font-family: ArchaicNeu-Regular;
		src: url("assets/ArchaicNeu-Regular.woff");
	}
/* ------------------- PISMO KONEC------------------- */





/* ------------------- BODY ZACATEK------------------- */

body {
	font-family: ArchaicNeu-Regular;
	font-weight: 100;
	overflow-x: hidden
}
	
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: rgb(0, 255, 0);
}

h1 {
	font-size: 17px;
}

/* ------------------- BODY KONEC------------------- */

/* ------------------- HEAD ZACATEK------------------- */

.header {
	padding: 15px;
	width: 100%;
	/* height: 45px; */
	/* background-color: white; */
	border-bottom: 1px solid black;
	z-index: 9631;
	position: fixed;
}

#logotype {
	float: left;
}

.head-social {
	display: block;
	text-align: right;
	/* float: right;
	margin-right: 30px; */
}

.head-social a {
	font-size: 17px;
}


/* modal start */



.modal-container {

		position: fixed;
		background-color: white;
		width: 100%;
		height: calc(100% - 76px);
		top: 76px;
		left: 50%;
		padding: 30px;

		-webkit-transform: translate(-50%, 200%);
		-ms-transform: translate(-50%, 200%);
		transform: translate(-50%, 200%);


		/* transition: transform 0.5s ease-in-out; */

		transition: all 1s ease;

}


.modal:before {
	content:"";
	position: fixed;
	display:none;
	background-color: rgba(255, 255, 255, 0);
	top:0;
	left:0;
	height:100%;
	width: 100%;

}

.modal {
	position: relative;
	z-index: 9999991;
}

.modal:target:before {
	display: block;

}


.modal:target .modal-container {
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}










/* modal koniec */





/* ------------------- HEAD KONEC------------------- */

/* ------------------- MENU ZACATEK------------------- */

app-menu {
	/* background-color: gray; */
	position: fixed;
	left: -200px;  /* rozjížděcí menu */
	top: calc(82px + 24px);
	width: 239px;
	height: 100vh;
	transition: left .3s;
}

app-menu > div {
	width:160px;
	padding-top: 15px;
	/* padding-bottom: 20px; */
}

app-menu > div > a {
	color: black;
	margin-left: 15px;
	font-size: 17px;
	display: inline-block;
}

app-menu:hover {
	left: 0;
}

app-menu:hover + .page-content {
	left: 259px;
	transition: left .3s;
}

app-menu + .page-content {
	left: 59px;
	transition: left .3s;
}

.kolecko {
	position: absolute;
	left: 210px;
	top: 0;
	/* width:10px; */
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

/* ------------------- MENU KONEC ------------------- */

/* ------------------- CONTENT ZACATEK ------------------- */

.page-content {
	position: relative;
	left: 59px;
	top: 125px;
	width: calc(100% - 59px);
	/* transition: left 1s; */
}

app-category.category {
	display: block;
	margin-bottom: 24px;
}

app-category > .category-text {
	/* position: absolute;
	left: 0px;
	bottom: 100px; */
	margin-bottom: 20%;
	position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
	position: sticky;
	top: calc(82px + 24px);
}






/* description start */
h2 { /* velikost nadpisu */
	font-size: 30px;
	padding-bottom: 10px;
	text-transform:uppercase;
}

.category-description {
	width: 310px;
	font-size: 15px;
}
/* description konec */







/* SLIDERS */

.sliders > app-image-slider {
	position: relative;
	display: block;
	width: 100%;
	/* overflow: hidden; */
}

.sliders > app-image-slider > .slider-container {
	position: relative;
	transition: left ease-in-out .3s;
	pointer-events: none;
}

.sliders > app-image-slider > .slider-container > .slides {
	position: relative;
	width: 100%;
	height: auto;
	pointer-events: none;
}

.sliders > app-image-slider > .slider-container > .slides > .slide {
	display: inline-block;
	width: 70vw;
	height: auto;
	margin: 0 200px 100px 200px;
	padding: 0;
}

.sliders > app-image-slider > .slider-container > .slides > .slide > * {
	display: inline-block;
	width: 70vw;
	height: auto;
	min-height: 300px;
	padding: 0;
	box-shadow: 40px 40px 50px rgb(51, 51, 51);
}

@keyframes blicking {
	from {
	  background-color: white;
	}
  
	to {
	  background-color: black;
	}
  }

.sliders > app-image-slider > .slider-container > .slides > .slide > .loader {
	animation-duration: 1s;
  	animation-name: blicking;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}


.slider-title {
	position: absolute;
	font-size: 11px;
	text-transform: uppercase;
	transform: rotate(270deg);
	margin-left: -150px;
	margin-top: 220px;
}





/* controls start */
.slider-controls {
	width: 70vw;
	position: absolute;
	z-index: 99999;
	left: 200px;
	height: calc(100% - 100px);
	padding: 0;
	margin: 0;
}

button.prev, button.next {
	top: 0;
	height: 100%;
	width:50%;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	padding: 0;
	margin: 0;
}

button.prev {
	float: left;
	cursor: url("assets/cursor_prev.png"), auto;
	
}

button.next {
	float: right;
	cursor: url("assets/cursor_next.png"), auto;
}
/* controls end */




/* ------------------- CONTENT KONEC------------------- */

